*.o
bvg/bvg-grad-test
bvg/bvg-hist
bvg/bvg-initial
bvg/bvg-mc
bvg/bvg-plt
bvg/bvg-spec
bvg/bvg-stepsizes
bvg/bvg-tbl
dft/dft-cases
dft/dft-dendrogram
dft/dft-display
dft/dft-gen
dft/dft-genp
dft/dft-hist
dft/dft-mc
dft/dft-plt
dft/dft-pred
dft/dft-spec
dft/dft-tbl
dist/dist-dgen
dist/dist-display
dist/dist-est
dist/dist-gen
dist/dist-genp
dist/dist-grad-test
dist/dist-his
dist/dist-hist
dist/dist-initial
dist/dist-mc
dist/dist-mis
dist/dist-plt
dist/dist-spec
dist/dist-stepsizes
dist/dist-tbl
gp/gp-cov
gp/gp-dgen
gp/gp-display
gp/gp-eigen
gp/gp-eval
gp/gp-gen
gp/gp-genp
gp/gp-grad-test
gp/gp-hist
gp/gp-mc
gp/gp-plt
gp/gp-pred
gp/gp-spec
gp/gp-stepsizes
gp/gp-tbl
mc/mc-ais
mc/mc-reweight
mc/mc-spec
mc/mc-temp-filter
mc/mc-temp-sched
mix/mix-cases
mix/mix-display
mix/mix-gen
mix/mix-genp
mix/mix-hist
mix/mix-mc
mix/mix-plt
mix/mix-pred
mix/mix-spec
mix/mix-tbl
mol/mol-display
mol/mol-grad-test
mol/mol-his
mol/mol-hist
mol/mol-mc
mol/mol-mis
mol/mol-plt
mol/mol-spec
mol/mol-stepsizes
mol/mol-tbl
net/net-approx
net/net-display
net/net-dvar
net/net-eval
net/net-gd
net/net-gen
net/net-genp
net/net-grad-test
net/net-his
net/net-hist
net/net-mc
net/net-plt
net/net-pred
net/net-rej
net/net-spec
net/net-stepsizes
net/net-tbl
src/det-spec
src/flow-spec
src/src-dgen
src/src-display
src/src-gen
src/src-hist
src/src-initial
src/src-intensity
src/src-mc
src/src-plt
src/src-pred
src/src-spec
src/src-stepsizes
src/src-tbl
util/calc
util/case-indicators
util/combine
util/data-spec
util/extract
util/find-min
util/grid
util/log-append
util/log-copy
util/log-equal
util/log-last
util/log-records
util/mean
util/model-spec
util/rand-seed
util/series
util/zeros
